$colors: (
  black: #000,
  outer-space: #2c2d2d,
  tundora: #4a4a4a,
  trout: #4b535b,
  scorpion: #595959,
  silver: #c4c4c4,
  iron: #d3d5d8,
  alto: #d4d4d4,
  geyser: #d5dbe6,
  white-smoke: #efefef,
  concrete: #f3f3f3,
  alabaster: #f7f7f7,
  white: #fff,
  raven: #727577,
  silver-sand: #c3c6ca,
  periwinkle-gray: #bccee1,
  catskill-white: #e8eff5,
  darker-pearl: #041228,
  black-pearl: #071b39,
  deep-blue: #0a3370,
  fiord: #3a4e6a,
  lochmara: #2066a2,
  havelock-blue: #539bd4,
  danube: #70abdb,
  alice-blue: #ecf0f3,
  mystic: #dee7e9,
  golden-glow: #fee097,
  kournikova: #fdcb54,
  dark-tangerine: #fdb913,
  alabaster-120: darken(#f7f7f7, 20%),
  alabaster-110: darken(#f7f7f7, 10%),
  black-pearl-67: rgba(#071b39, 0.67),
  deep-blue-40: rgba(#0a3370, 0.4),
  deep-blue-60: rgba(#0a3370, 0.6),
  deep-blue-87: rgba(#0a3370, 0.87),
  havelock-blue-62: rgba(#539bd4, 0.62),
  shadow: rgba(0, 0, 0, 0.1),
  shadow-55: rgba(0, 0, 0, 0.55),
  light-shade: rgba(161, 161, 161, 0.21),
  transparent: rgba(236, 240, 243, 0.56)
);

@function color($name) {
  @return map-get($colors, $name)
}

@font-face {
  font-family: 'Fira Code';
  src: url("../fonts/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-display: sans-serif;
}

pre {
  font-family: "Fira Code", monospace;
  font-variant-ligatures: contextual;
  font-size: 17px
}

button {
  all: unset;
  padding: 4px;
  margin: 2px;
  color: color(white);
  background-color: color(lochmara);
  border: 1px solid color(fiord);
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.5pt;
  box-shadow: 0 0 3pt 0 color(shadow);
}

.pokemon_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;

  h4, h5 {
    display: inline;
    text-align: center;
    margin: 10px 0;
    text-transform: capitalize;
  }

  img {
    width: 200px;
    margin: 0 auto;
  }

  table {
    margin: 20px auto;
    min-width: 250px;
    max-width: 80%;

    thead, td:first-child {
      font-weight: 900;
      text-transform: capitalize;
    }

    td {
      padding: 2px 15px;
    }
  }
}

.pokemon_data {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.component_layer {
  margin: 1em;
  padding: 1em;
  color: color(white);
  background-color: color(deep-blue-60);
  border: 2px dashed color(dark-tangerine);
}