.component_layer {
    margin: 1em auto;
    max-width: 80%;
    padding: 1em;
    color: color(white);
    background-color: rgba(color(Desire), 0.85);
    border: 2px dashed color(NYC-Taxi);

    ol, ul {
        padding-left: 15px;
    }
}