.form_layer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
    padding: 20px;

    border: 1px solid rgba(color(white), $alpha: 0.7)
}

.form_title {
    display: block;
    font-size: 20px;
    font-weight: 200;
}

.form_body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-width: 250px;
    padding: 10px;

    & > * {
        margin-top: 10px;        
    }
}

.form_text-input {
    box-sizing: border-box;
    width: 80%;
    padding: 5px;
    border: 1px solid color(Black);
    border-radius: 3px;
    outline: none;
    font-family: sans-serif;
    
    &::placeholder {
        color: rgba(color(Black), 0.4);
    }
}

.form_select-input {
    box-sizing: border-box;
    width: 80%;
    padding: 5px;
    border: 1px solid color(Black);
    border-radius: 3px;
    outline: none;
    color: rgba(color(Black), 0.4);
    
    &.touched {
        color: color(Black);
    }

    option {
        color: color(Black);
    }
}

.form_error-display {
    box-sizing: border-box;
    display: block;
    width: 80%;
    margin: 5px;
    font-size: 12px;
    font-weight: 200;
}

.form_input-array {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    max-width: 202px;

    & > button {
        margin: 5px auto;
    }
}

.form_input-array-item {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    & + & {
        margin-top: 5px;
    }

    input {
        flex: 0 0 auto;
        width: 80%;
    }

    button {
        flex: 0 0 auto;
    }
}

.form_array-error-display {
    flex: 0 0 auto;
    box-sizing: border-box;
    margin: 5px 0;
    font-size: 12px;
    font-weight: 200;
}

.form_actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;

    *:nth-child(n+2) {
        margin-left: 10px;
    }
}

.form_tip {
    margin-top: 15px;
    font-size: small;
    text-align: center;
    line-height: 1.5em;

    a {
        color: color(Flirtatious);
        text-decoration: none;
    }
}

.error-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-width: 250px;
    margin: 10px 5px 5px;
}

.error-block_title {
    box-sizing: border-box;
    display: block;
    width: 80%;
    margin: 5px;
    font-size: 17px;
    font-weight: 200;
}

.error-block_list {
    box-sizing: border-box;
    display: block;
    width: 80%;
    margin: 5px;
    font-size: 12px;
    font-weight: 200;
}