// base
@import 'variables';
@import 'functions';
@import 'mixins';
@import 'assets';

// resets and fonts
@import 'general';
@import 'Component';
@import 'Navbar';

@import 'Pokemon';

.input_group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-family: 'Fira Code', monospace;
  font-size: 10px;

  label {
    flex: 0 0 30%;
  }

  input,
  textarea {
    flex: 0 1 60%;
  }
}