$tablet: 768px;
$desktop: 1280px;

$font_main: 'Montserrat', sans-serif;
$font_headings: 'Source Sans Pro', sans-serif;

$container_shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

$colors: (
    Fusion-Red         : #fc5c65,
    Orange-Hibiscus    : #fd9644,
    Flirtatious        : #fed330,
    Reptile-Green      : #26de81,
    Maximum-Blue-Green : #2bcbba,
    Desire             : #eb3b5a,
    Beniukon-Bronze    : #fa8231,
    NYC-Taxi           : #f7b731,
    Algal-Fuel         : #20bf6b,
    Turquoise-Topaz    : #0fb9b1,
    High-Blue          : #45aaf2,
    C64-NTSC           : #4b7bec,
    Lighter-Purple     : #a55eea,
    Twinkle-Blue       : #d1d8e0,
    Blue-Grey          : #778ca3,
    Boyzone            : #2d98da,
    Royal-Blue         : #3867d6,
    Gloomy-Purple      : #8854d0,
    Innuendo           : #a5b1c2,
    Blue-Horizon       : #4b6584
);